<meta charset="UTF-8">
<title>Gatelog</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  .container {
    max-width: 1024px;
    margin: auto;
    padding: 20px 10px;
  }
</style>